:root {
    --publick-text: #2196F3;
    --all-text: #212121;
    --text-publick: #757575;
    --logo: #000000;
}

.webstudio {
    color: var(--publick-text);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}

.studio {
    color: var(--logo);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}

.active {
    color: var(--publick-text);
}

.gmail:hover {
    color: var(--publick-text);
}

.text {
    color: var(--all-text);
}

.publick-text {
    color: var(--text-publick);
}

.order-button {
    background-color: var(--publick-text);
    color: white;
    border: none;
}

.tell:hover {
    color: var(--publick-text);
}

.header-link:hover {
    color: var(--publick-text);
}